<div>
  <loading-component [show]="loading" ></loading-component>

  <form [formGroup]="userForm" (ngSubmit)="createUser()" >
    <input type="text" placeholder="Nome" name="name" formControlName="name">
    <input type="email" placeholder="Email" name="email" formControlName="email">
    <input type="number" placeholder="Idade" name="age" formControlName="age">
    <input type="tel" placeholder="Telefone" name="phone" formControlName="phone">

    <div *ngIf="userForm.controls.name.invalid && userForm.controls.touched">campo é obrigatorio</div>
  <button type="submit" [disabled]="!userForm.valid">
    Criar Usuario
  </button>
  
  </form>


  
</div>
